<%- include('../partials/header') %>
<script>
    document.title = "Reviews Page";
</script>

<body>
    <%- include('../partials/menu') %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Books Name</th>
                <th scope="col">Your Review</th>
                <th scope="col">Review Date</th>
            </tr>
        </thead>
        
       
        
        
      <% var max = 0;%>
      <%id.forEach(function(item){
      max ++;	
      });%>
       
        <% for (var i = 0; i < max; i ++) {%>
            <tbody>
                <tr>
                    <th scope="row"><%-id[i].id %> </th>
                    <td><%- book[i].book %></td>
                    <td><%- review[i].review %></td>
                    <td><%- date[i].date %></td>
                </tr>
            </tbody>	
        <%}%>
        
        
            <!-- <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody> -->
    </table>
</body>


<%- include('../partials/footer') %>
